.weather_page h1 {
  font-size: 2.9em;
  line-height: 1.2;
  margin: 64px 0;
  color: var(--neutral-0);
  font-family: var(--font-secondary);
}

.wrapper_content {
  display: flex;
  gap: 32px;
  margin-top: 48px;
}

.left_content {
  max-width: 800px;
}
