.header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.button_units {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--neutral-800);
  cursor: pointer;
}

.button_units:hover {
  background-color: var(--neutral-600);
}

.button_units span {
  font-size: 1.1em;
}

@media (max-width: 412px) {
  .image_logo {
    width: 138px;
  }

  .button_units {
    padding: 8px 8.3px;
    gap: 6px;
  }

  .button_units .icon_units {
    width: 14px;
  }

  .button_units .icon_dropdown {
    width: 9px;
    height: 14px;
  }

  .button_units span {
    font-size: 14px;
  }
}
