.header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.button_units {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--neutral-800);
  cursor: pointer;
}
