#root {
  width: 100%;
  margin: 0 auto;
  padding: 48px 112px 80px;
  text-align: center;
}

@media (max-width: 1024px) {
  #root {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 800px) {
  #root {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 412px) {
  #root {
    padding: 16px 16px 48px;
  }
}
