@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,500;0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap");

:root {
  line-height: 1;
  font-weight: 400;
  font-size: 18px;

  /* Font families */
  --font-primary: "DM Sans", Sans-serif;
  --font-secondary: "Bricolage Grotesque", Sans-serif;

  /* Font colors */
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Background colors */
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);

  /* Border colors */
  --neutral-600: hsl(243, 23%, 30%);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(243, 96%, 9%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
  font-family: var(--font-primary);
}

button {
  font-family: var(--font-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
