.weather_main_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 286px;
  padding: 0 24px;
  background: url("../../assets/bg-today-large.svg") no-repeat;
  background-size: cover;
}

.loading {
  height: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: var(--neutral-800);
}

.loading_dots {
  display: flex;
  gap: 10px;
}

.loading_dots span {
  width: 12px;
  height: 12px;
  background: var(--neutral-0);
  border-radius: 50%;
  animation: levitate 1.4s infinite both;
}

.loading_dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading_dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading_label {
  color: var(--neutral-200);
}

.weather_location {
  text-align: left;
}

.weather_location p {
  margin-top: 12px;
  font-weight: 300;
}

.weather_temperature {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather_temperature img {
  width: 120px;
  height: 120px;
}

.weather_temperature span {
  font-size: 5.2em;
  font-weight: 600;
  font-style: italic;
}

.weather_details {
  display: flex;
  gap: 24px;
}
