.weather_main_info,
.loading {
  height: 286px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 12px;
}

.weather_main_info {
  position: relative;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 0;
}

.weather_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  z-index: -1;
}

.loading {
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: var(--neutral-800);
}

.loading_dots {
  display: flex;
  gap: 10px;
}

.loading_dots span {
  width: 12px;
  height: 12px;
  background: var(--neutral-0);
  border-radius: 50%;
  animation: levitate 1.4s infinite both;
}

.loading_dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading_dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading_label {
  color: var(--neutral-200);
}

.weather_location {
  text-align: left;
}

.weather_location p {
  margin-top: 12px;
  font-weight: 300;
}

.weather_temperature {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather_temperature img {
  width: 120px;
  height: 120px;
  animation: pulse 2s infinite;
}

.weather_temperature span {
  font-size: 5.2em;
  font-weight: 600;
  font-style: italic;
}

.weather_details {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

@keyframes levitate {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .weather_info {
    width: 100%;
  }

  .weather_main_info {
    border-radius: 20px;
  }

  .weather_details {
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .weather_main_info {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .weather_location {
    text-align: center;
  }

  .weather_details {
    display: flex;
    gap: 16px;
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .weather_main_info {
    background: url("../../assets/bg-today-small.svg");
  }
}
